# Android / Gradle
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/captures/
*.apk
*.aab
*.keystore
*.jks
android/keystore.properties

# misc
.DS_Store
node_modules/
